<mat-toolbar color="primary">
  <button *ngIf="isMobile" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="home" aria-label="Trash Taste Hub Landing Page" routerLink="/" [ngSwitch]="isMobile">
    <ng-container *ngSwitchCase="true"
      ><img class="logo" src="assets/trash-taste-logo.png" /> HUB</ng-container
    >
    <ng-container *ngSwitchDefault
      >TRASH <img class="logo" src="assets/trash-taste-logo.png" /> TASTE HUB</ng-container
    >
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    role="navigation"
    #snav
    [opened]="!isMobile"
    [mode]="isMobile ? 'over' : 'side'"
    [fixedInViewport]="isMobile"
    [fixedTopGap]="56"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">Latest</a>
      <a mat-list-item routerLink="/youtube/trash-taste"
        ><img class="icon" src="assets/youtube_icon.png" /> Trash Taste</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
