:host {
  display: inline-block;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

small {
  white-space: nowrap;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
