<h3>
  {{ video.titleShort || video.title }}
  <small *ngIf="video.episodeNumber || video.type"
    >Trash Taste
    <ng-container *ngIf="video.type"> {{ video.type }}</ng-container>
    <ng-container *ngIf="video.episodeNumber"> #{{ video.episodeNumber }}</ng-container></small
  >
</h3>
<youtube-player [videoId]="video.id"></youtube-player>
<div class="details">
  <time [dateTime]="video.publishedAt">{{ video.publishedAt | intlDate }}</time>
  <span *ngIf="video.guests">
    <ng-container *ngIf="video.guests.length === 1"
      >Guest:
      <a [routerLink]="['/guests', video.guests[0].id]">{{ video.guests[0].name }}</a></ng-container
    >
  </span>
</div>
